* {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
  }

body {
    display: flex;
    justify-content: center;
}

.cv {
    background-color: var(--primary-color);
    width: 1160px;
    
    overflow: hidden;
}

.cvhead {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.cvhead__infome {
display: flex;
flex-direction: column;
align-items: center;

margin: 40px;
margin-left: 100px;
}
.cvhead__infome figure {
    margin: 20px;
    width: 130px;
}

.cvhead__infome img {
    border-radius: 50%;
    box-shadow: 0 0 30px black;
    width: 100%;
}

.cvhead__infome figure a:hover {
    cursor: zoom-in;
  }

.cvhead__name {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .cvhead__job  {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .cvhead__contact {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: var(--tertiary-color);
  }

  .asidemain {
    display: flex;
  }

  .aside__title {
    background-color: var(--secondary-color);
    font-family: Lato;
    color: black;
    padding-left: 20px;
  }

  .aside {
    max-width: 30%;
    flex-direction: column;
    padding: 20px 40px 0 0;
    text-align: justify;
  }

  .aside:first-child p {
    text-indent: 30px;
  }

  .aside ul {
    padding-left: 30px;
  }

  .aside p,
  .aside ul {
    padding: 20px 20px;
    padding-left: 20px;
  }

